.smodal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1055;
	display: none;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	outline: 0;
}
.smodal-dialog {
	position: relative;
	width: auto;
	margin: .5rem;
	pointer-events: none;
}
.smodal.sshow .smodal-dialog {
	-webkit-transform: none;
	transform: none;
}
.smodal.sfade .smodal-dialog {
	transition: -webkit-transform .3s ease-out;
	transition: transform .3s ease-out;
	transition: transform .3s ease-out, -webkit-transform .3s ease-out;
	-webkit-transform: translate(0,-50px);
	transform: translate(0,-50px);
}
.smodal-dialog-centered {
	display: flex;
	align-items: center;
	min-height: calc(100% - 1rem);
}
.smodal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: .3rem;
	outline: 0;
}
#smodalLoading .smodal-content {
	background-color: transparent;
	border: none;
}
.smodal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	width: 100vw;
	height: 100vh;
	background-color: #000;
}
.smodal-backdrop.sshow {
	opacity: .5;
}
.smodal-body {
	position: relative;
	flex: 1 1 auto;
	padding: 1rem;
}
#smodalLoading .smodal-body {
	display: flex;
	align-items: center;
	justify-content: center;
}
.svisually-hidden, .visually-hidden-focusable:not(:focus):not(:focus-within) {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.stext-warning {
	--bs-text-opacity: 1;
	color: rgba(255,193,7,1) !important;
	color: rgba(255,193,7,1) !important;
}
.sspinner-border {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	vertical-align: -.125em;
	border: .25em solid currentColor;
	border-right-color: transparent;
	border-radius: 50%;
	-webkit-animation: rotation .75s infinite linear;
	animation: rotation .75s infinite linear;
}
.sfade {
	transition: opacity .15s linear;
}



@media (min-width: 576px) {
	.smodal-dialog-centered {
		min-height: calc(100% - 3.5rem);
	}
	.smodal-dialog {
		max-width: 500px;
		margin: 1.75rem auto;
	}
}
