@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

:root {
    --background0: #7AA52D;
    --background1: #D8505E;
    --background2: #63A5A3;
    --background3: #774366;
    --dispositivo: #7774A2;
    --organizacao: #63A5A3;
    --experiencia: #A4B65C;
    --rede: #009;
    --backgroundMapeamento: #54928D;
    --icon-color: #FFF;
    --nimuendaju: #D8B58D;
    --familia_1: #c51426;
    --familia_2: #383a6b;
    --familia_3: #dbb272;
    --familia_4: #856b20;
    --familia_5: #c46a2c;
    --familia_6: #d4401c;
    --familia_7: #b3a544;
    --familia_8: #fcca8f;
    --familia_9: #797f53;
    --familia_10: #fcc707;
    --familia_11: #f6846c;
    --familia_12: #5d4930;
    --familia_13: #c0d4db;
    --familia_14: #667a81;
    --familia_15: #ee1997;
    --familia_16: #7d1418;
    --familia_17: #b82e21;
    --familia_18: #ef2636;
    --familia_19: #664929;
    --familia_20: #d0b00d;
    --familia_21: #f79b48;
    --familia_22: #e21d24;
    --familia_23: #c71a47;
    --familia_24: #d9dd24;
    --familia_25: #c4a090;
    --familia_26: #e65153;
    --familia_27: #e1c154;
    --familia_28: #f45c19;
    --familia_29: #ec0e57;
    --familia_30: #b05c1c;
    --familia_31: #00a650;
    --familia_32: #ba8559;
    --familia_33: #b4e6ed;
    --familia_34: #54802b;
    --familia_35: #e1a312;
    --familia_36: #a6a6a6;
    --familia_37: #6f87cd;
    --familia_38: #53a688;
    --familia_39: #b2dd2e;
    --familia_40: #24276e;
    --familia_42: #cd7f8c;
}

@import 'react-bootstrap-drawer/lib/style.css';

body {
    font-family: 'Faustina', serif;
    overflow: hidden;
}

.resultados span {
    font-family: 'Faustina', serif;
    font-size: 16px;
}

.react-bootstrap-drawer {
    top: 0;
    left: 0;
}

.react-bootstrap-drawer-toc {
    padding-right: 0;
}
.react-bootstrap-drawer-toc img {
    padding-left: 12px;
}
.react-bootstrap-drawer-toc .container {
    padding: 0 12px;
}
.form-label {
    margin: .5rem 0 0 0;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    appearance: none;
}

.modal {
    z-index: 10010;
}
#modalLoading .modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
}
#modalLoading .modal-content {
    background-color: transparent;
    border: none;
}
.modal-backdrop {
    z-index: 10000;
}

.modalSobreWrapper .modal-content img {
    max-width: 100%;
    max-height: 200px;
}
.modalSobreWrapper .modal-content img.creditos2 {
    width: 176px;
    height: 156px;
}
.modalSobreWrapper .modal-content img.logoEita {
    width: 140px;
    height: auto;
}
.modalSobreWrapper .modal-content h5 {
    margin-top: 20px;
}

#tiposDeCadastro div {
    cursor: pointer;
}

.tiposDeCadastroIcones {
    margin-right: 16px;
}
#tiposDeCadastro .desabilitado {
    color: #999;
}
.bg-resultados {
    background-color: #E8E4C8;
    color: #494949;
    font-size: 14px;
}

.bg-tipo_tribo_1 {
    background-color: var(--background0);
    margin-left: 12px;
}
.bg-tipo_tribo_2 {
    background-color: var(--background1);
    margin-left: 12px;
}

.btn-check:focus + .btn.btn-transparente, .btn.btn-transparente:focus {
    outline: 0;
    box-shadow: none;
    border: none;
}

#carregando_listagem .col {
    justify-content: center;
    display: flex;
    margin: 15px 0;
}

.icone-tema {
  text-decoration: none;
  padding: 3px;
  margin: 3px 3px 3px 0px;
  background: white;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  display: inline-block;
}

#BuscaTexto {
    position: absolute;
    top: 42px;
    right: 0;
    width: calc(100vw - 60px);
    display: flex;
    z-index: 600;
}

.modalSobreControlBotao {
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
}

select.modo_visualizacao > option {
    background-color: var(--background3);
    color: white;
}

.resultados {
    position: absolute;
    z-index: 500;
    top: 12px;
    left: 60px;
    text-align: right;
    width: 200px;
}

.semResultados {
    margin: 60px 12px 0 24px;
}

#familia > a > div::before,
li.familia::before,
span.familia::before {
    content: "\00a0 \00a0 \00a0 \00a0 \00a0";
    margin-right: 8px;
}

.familia_1::before {background-color:var(--familia_1)}
.familia_2::before {background-color:var(--familia_2)}
.familia_3::before {background-color:var(--familia_3)}
.familia_4::before {background-color:var(--familia_4)}
.familia_5::before {background-color:var(--familia_5)}
.familia_6::before {background-color:var(--familia_6)}
.familia_7::before {background-color:var(--familia_7)}
.familia_8::before {background-color:var(--familia_8)}
.familia_9::before {background-color:var(--familia_9)}
.familia_10::before {background-color:var(--familia_10)}
.familia_11::before {background-color:var(--familia_11)}
.familia_12::before {background-color:var(--familia_12)}
.familia_13::before {background-color:var(--familia_13)}
.familia_14::before {background-color:var(--familia_14)}
.familia_15::before {background-color:var(--familia_15)}
.familia_16::before {background-color:var(--familia_16)}
.familia_17::before {background-color:var(--familia_17)}
.familia_18::before {background-color:var(--familia_18)}
.familia_19::before {background-color:var(--familia_19)}
.familia_20::before {background-color:var(--familia_20)}
.familia_21::before {background-color:var(--familia_21)}
.familia_22::before {background-color:var(--familia_22)}
.familia_23::before {background-color:var(--familia_23)}
.familia_24::before {background-color:var(--familia_24)}
.familia_25::before {background-color:var(--familia_25)}
.familia_26::before {background-color:var(--familia_26)}
.familia_27::before {background-color:var(--familia_27)}
.familia_28::before {background-color:var(--familia_28)}
.familia_29::before {background-color:var(--familia_29)}
.familia_30::before {background-color:var(--familia_30)}
.familia_31::before {background-color:var(--familia_31)}
.familia_32::before {background-color:var(--familia_32)}
.familia_33::before {background-color:var(--familia_33)}
.familia_34::before {background-color:var(--familia_34)}
.familia_35::before {background-color:var(--familia_35)}
.familia_36::before {background-color:var(--familia_36)}
.familia_37::before {background-color:var(--familia_37)}
.familia_38::before {background-color:var(--familia_38)}
.familia_39::before {background-color:var(--familia_39)}
.familia_40::before {background-color:var(--familia_40)}
.familia_41::before {background-color:var(--familia_42)}

.familia_42::before {
    border: 1px #000 solid;
}

.react-bootstrap-drawer {
    background-color: var(--nimuendaju);
}
.react-bootstrap-drawer img {
    width: 95%
}

#popupFicha {
    position: absolute;
    font-family: 'Faustina', serif;
    left: 8px;
    top: 8px;
    width: calc(100vw - 16px);
    height: calc(100vh - 16px);
    background-color: #fff;
    z-index: 2000;
    overflow: auto;
}
#popupFicha h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 8px 0 8px 0;
}
#popupFicha p {
    font-size: 14px;
    margin: 4px 0 0 0;
}
#popupFicha .btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
}
.leaflet-popup-content .popupCamada p {
    margin: 4px 0 0 0;
}

#sidebar {
    padding-left: 0;
    z-index: 650;
}
#sidebar .react-bootstrap-drawer-toc {
    padding-top: 50px !important;
}
/* .Mui-focused div.MuiTextField-root label,
label.MuiInputLabel-shrink {
    margin-left: -12px;
}
.MuiInputLabel-root {
    text-transform: none;
    margin-top: 0;
} */

li.referencias {
    align-items: flex-start !important;
    flex-direction: column;
}
.selectTaxSub {
    font-size: 75%;
}

.leaflet-control-scale-line.resultadosControl {
    background-color: #ecf17d;
    border: 2px #666 solid;
    border-radius: 2px;
    padding: 4px 8px;
    white-space: inherit;
    font-size: 14px;
    width: 300px;
}
.leaflet-control-scale-line.resultadosControl.isMobile {
    cursor: pointer;
}

.filtrosAplicados span {
    font-size: 12px;
}

.filtrosAplicados {
    margin: 0;
    padding: 0;
}

.filtersBtn {
    background-color: var(--nimuendaju);
    color: #FFF;
    text-transform: uppercase;
}
.filtersBtn .fa-filter {
    margin-right: 8px;
}

.searchBtn, .filtersBtn {
    cursor: pointer;
}

.filtersCloseBtn {
    position: absolute;
    top: 12px;
    right: 12px;
}

@media (min-width: 992px) {
    .react-bootstrap-drawer {
        height: 100vh;
    }
    #BuscaTexto {
        width: 300px;
    }
    #popupFicha {
        width: 300px;
    }
    #sidebar .react-bootstrap-drawer-toc {
        padding-top: .5rem !important;
    }
}

.modalSobreWrapper .figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalSobreWrapper h5, .modalSobreWrapper h6 {
    font-weight: bold;
}
