article.dispositivo.entry-card, article.experiencia.entry-card, article.organizacao.entry-card {
  display: block;
  padding: 0px;
  margin-bottom: 0px;
  height: min-content;
}
article > div {
  height: 100%;
}
.card-experiencia .card-body {
    background-color: var(--experiencia);
}
.card-dispositivo .card-body {
    background-color: var(--dispositivo);
}
.card-organizacao .card-body {
    background-color: var(--organizacao);
}
.card-rede .card-body {
    background-color: var(--rede);
}
.card-body {
  padding: 20px;
  font-size: 15px;
}
.card-body > div {
  margin-bottom: 10px;
}
h3 {
  font-size: 17px;
  text-transform: uppercase;
}

.card-body h3, .card-body p, .card-body div {
  color: white;
}
p.link {
  color: var(--paletteColor1);
  text-align: center;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
}
.card-tipo {
  background: white;
  color: var(--paletteColor1);
  font-size: 13px;
  padding: 7px 15px 5px;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: 'Catamaran';
  font-weight: 500;
  text-align: center;
  display: inline-block;
  line-height: 1em;
}
.card-experiencia .card-tipo {
  color: var(--experiencia);
}
.card-dispositivo .card-tipo {
  color: var(--dispositivo);
}
.card-organizacao .card-tipo {
  color: var(--organizacao);
}
.card-rede .card-tipo {
  color: var(--rede);
}
.card-data{
  font-style: italic;
  font-size: 0.9em
}
