@import 'leaflet/dist/leaflet.css';

.leaflet-container {
    height: 100vh;
}

.geojson.marker-cluster.marker-cluster-small-dispositivo {
    margin-left: -36px !important;
    margin-top: 12px !important;
}
.geojson.marker-cluster.marker-cluster-small-experiencia {
    margin-left: -4px !important;
    margin-top: 12px !important;
}
.geojson.marker-cluster.marker-cluster-small-total div {
    color: #000;
    font-size: 14px;
}

.marker-cluster div {
    width: 36px;
    height: 36px;
    margin-left: 2px;
    margin-top: 2px;
    border-radius: 20px;
    color: #FFF;
    padding-top: 3px;
    font-weight: bold;
}
.marker-cluster-small-dispositivo div,
.dispositivo {
    background-color: var(--dispositivo);
}
.marker-cluster-small-dispositivo {
    background-color: #CCC;
}
.marker-cluster-small-organizacao div,
.organizacao {
    background-color: var(--organizacao);
}
.marker-cluster-small-organizacao {
    background-color: #CCC;
}
.marker-cluster-small-experiencia div,
.experiencia {
    background-color: var(--experiencia);
}
.marker-cluster-small-experiencia {
    background-color: #CCC;
}
.marker-cluster-small-rede div,
.rede {
    background-color: var(--rede);
}
.marker-cluster-small-rede {
    background-color: #CCC;
}
